<div class='trans-header'>
  <div class='trans-head-one'>
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
    </svg>
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-battery-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12 5H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1zM2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2z"/>
      <path d="M2 6h5v4H2V6zm12.5 3.5a1.5 1.5 0 0 0 0-3v3z"/>
    </svg>
  </div>
  <div class='trans-head-two'>
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
     <h5 class='trans-list-title'>Ungrouped Transportations</h5>
     <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
       <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
       <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
     </svg>
  </div>
  <div class='trans-head-three'>
  <%= link_to current_user.username, user_path(current_user), class: 'to-profile' %>
      <p id='most-recent'>Most recent</p>
      <p id='most-ancient'>Most ancient</p>
  </div>
</div>
</div>
<div class='sum_in_km'>
  <div class='sum-box'>
    <h2>Total Distance</h2>
    <h3 class='ext-sum'><%= @external_sum.to_s + 'KM' %></h3>
  </div>
</div>
<div>
 <div id='list-transportation'>
  <table class="table table-responsive row-box">
    <thead>
    <tr>
      <th>Icon</th>
      <th>Transportation Description</th>
      <th>Distance (KM)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><% @external_transportations.each do |t| %></tr>
      <td> No Transportation Group  </td>
      <td><%= t.name %><br/><span class = 'format_date'><%= t.created_at.to_formatted_s(:long) %></span></td>
      <td class='bold-distance'><%= t.distance.to_s + 'KM' %></td>
      <td><%= link_to 'Edit', edit_transportation_path(t.id) %> |
      <%= link_to 'Delete', transportation_path(t), method: :delete, data: { confirm: 'Are you really sure?' } %></td>
    <% end %>
 </tbody>
</table>
</div>
<div class='table-green'>
<h3><%= link_to 'Add Transportation', new_transportation_path, class: 'table-h3' %></h3>
</div>
</div>