<h1 class='special-h1'>New Group</h1>
<div class='new-trans-form'>
<%= form_with model: @group, html: { multipart: true } do |f| %>
    <div class='transport-form'>
      <%= f.label :icon, class: 'form-label' %>
      <span class='span-g'><%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png' %></span>
    </div>
    <div class='transport-form'>
      <%= f.label :name, class: 'form-label' %><br />
      <%= f.text_field :name, class: 'text-input' %>
    </div>
    <div class="group-form">
      <%= f.submit 'Create Group', class: 'new-group btn btn-primary'%>
    </div>
<% end %>
</div>

