<h1 class='special-h1'><%= @group.name %></h1>
<div class='sum_in_km'>
   <div class='sum-box'>
     <h3>Total Distance</h3>
     <h3><%= @group_sum.to_s + 'KM'%></h3>
   </div>
</div>
<div>
<div class='list-transportation'>
<table class="table table-responsive row-box">
    <thead>
    <tr>
      <th>Icon</th>
      <th>Transportation Means</th>
      <th>Distance (KM)</th>
      <th>Transport Date</th>
      <th>Creator</th>
    </tr>
  </thead>
  <tbody>
    <tr><% @transportations.includes([:user]).each do |t| %></tr>
      <td><%= image_tag t.group.icon.variant(resize_to_limit: [50, 50]) if t.group.icon.attached? %></td>
      <td><%= t.name %></td>
      <td><%= t.distance %></td>
      <td><%= t.created_at %></td>
      <td><%= t.user.username %></td>
    <% end %> 
 </tbody>
</table>
</div>
<div class='table-green'>
   <h3><%= link_to 'Add Transportation', new_transportation_path, class: 'table-h3' %></h3>
</div>
</div>