<div class='sign-up-header'>
  <div class='trans-head-one'>
    <svg width="3.5rem" height="3.5rem" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
    </svg>
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-battery-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12 5H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1zM2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2z"/>
      <path d="M2 6h5v4H2V6zm12.5 3.5a1.5 1.5 0 0 0 0-3v3z"/>
    </svg>
  </div>
  <div class='trans-head-two'>
  <%= link_to groups_path(@group) do %>
  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
  <% end %>
  <h2 class='group-head-name'><%= @group.name %></h2>
     <h2>NEXT</h2>
  </div>
</div>
<div class='sum_in_km'>
   <div class='sum-box'>
     <h2>Total Distance</h2>
     <h2><%= @group_sum.to_s + 'KM'%></h2>
   </div>
</div>
<div>
<div class='list-group-members'>
<span class="flash"><%= flash.notice %></span>
<table class="table table-responsive row-box">
    <thead>
    <tr>
      <th>Icon</th>
      <th>Transportation Means</th>
      <th>Distance (KM)</th>
      <th>Transport Date</th>
      <th>Creator</th>
    </tr>
  </thead>
  <tbody>
    <tr><% @transportations.each do |t| %></tr>
      <td><%= image_tag t.groups.first.icon.variant(resize_to_limit: [60, 60]) if t.groups.first.icon.attached? %></td>
      <td><%= t.name %></td>
      <td><%= t.distance %></td>
      <td><%= t.created_at %></td>
      <td class='creator-name'><%= t.author.username %></td>
    <% end %> 
 </tbody>
</table>
</div>
<div class='table-green'>
   <h3><%= link_to 'Add Transportation', new_transportation_path, class: 'table-h3' %></h3>
</div>
</div>