<h1>Sign up</h1>
<%= form_with model: @user, local: true, class: 'new-user' do |f| %>
    <div class='user-form'>
      <%= f.label :first_name, class: 'user-label' %><br />
      <%= f.text_field :first_name, class: 'user-input form-control', placeholder: 'Enter your first name' %>
    </div>
    <div class='user-form'>
      <%= f.label :last_name, class: 'user-label' %><br />
      <%= f.text_field :last_name, class: 'user-input form-control', placeholder: 'Enter your last name' %>
    </div>
    <div class='user-form'>
       <%= f.label :email, class: 'user-label' %><br />
       <%= f.email_field :email, class: 'user-input form-control', placeholder: 'Your email' %>
    </div>
    <div class='user-form'>
      <%= f.label :username, class: 'user-label' %><br />
      <%= f.text_field :username, class: 'user-input form-control', placeholder: 'Enter your username' %>
    </div>
    <span class='user-form'>
      <%= f.label :Picture %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <div class="action">
      <%= f.submit 'Sign Up', class: 'sign-up' %>
    </div>
<% end %>
