<div class="row">
  <aside class="col-md-4 profile-aside">
    <section class="user_info">
    <div id='profile-pic' >
    <%= image_tag @user.picture.variant(resize_to_limit: [100, 100]) if @user.picture.attached? %>
    </div>
    <h4>
    <%= @user.first_name %>
    <%= @user.last_name %>
    </h4>
    </section>
    <section>
      <div class='user-options col-md-8'>
      <%= render 'layouts/user_settings' %>
      </div>
    </section>
  </aside>
  <div class='profile-right' col-md-8'>
    <%= render 'layouts/user_options' %>
  </div>
</div>