<!DOCTYPE html>
<html>
  <head>
   <title><%= @page_title ? @page_title : 'welcome' %> | Group Our Transportation App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="grouping app" />
    <meta name="title" property="og:title" content="Group our transportation mobile app" />
    <meta property="og:type" content="Mobile App" />
    <meta name="image" property="og:image" content="https://i.imgur.com/tS6XVYN.png" />
    <meta name="description" property="og:description" content="Distance loggin app" />
    <meta name="author" content="Nnamdi Emelu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <div class='main-body'>
     <%= yield %>
     <%= render 'layouts/footer' %>
  </body>
</html>
